/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/01/2015, 20:15:59
    Author     : Felipe
*/
.control-label{
    width: 100% !important;
    text-align: right;
}
.label-radio{
    font-weight: normal !important;
}
.border-red{
    border-color: red !important;
}