/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/07/2015, 14:25:39
    Author     : Felipe
*/
.row-divisao{
    margin-bottom: 15px !important;
}
.bg-ligth-gray{
    background-color: #eeeeee;
}
